---
layout: public
---

<div class="row">

    <div class="col-md-10 blog-main">

    <hr>

    <center>
    <table width="75%"><tr>
    <td><div style="text-align:left;">
    <img src="{{ site.splash_public | relative_url }}"   style="width:100%;height:auto;"/>
    </div></td>

    <td><div style="width:100%;text-align:left;">
    ePIC is a collaboration of hundreds of scientists and engineers united in a quest to understand the structure of the matter we are all made of — and indeed 99% of the visible matter that makes up our universe. We are working together to build the world’s most sophisticated particle detector for analyzing collisions between electrons and protons and other nuclei. 
    </div></td>
    </tr></table>
    </center>
      
    <center>
    <video autoplay muted loop width="80%">
      <source src="/assets/video/Public_Page_Event_Video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <!--
    <iframe width="940" height="540" src="https://dl.dropboxusercontent.com/scl/fi/aodzxp8o4p86eb5ynzhpm/Public_Page_Event_Video.mp4?rlkey=tyc8n9tqtxndouhrwvtk8dt1t&raw=1" frameborder="0" allow="autoplay; muted" allowfullscreen</iframe>    
    </center>
    -->

    <center>

      <i>This video of the ePIC experiment shows the interaction of an ion (hot pink, moving left to right) with an electron moving in the opposite direction. The scattering interaction produces many new particles that strike components surrounding the main detector barrel and “forward” moving particles that strike detector components located up to 40 meters down the beamline. This configuration will enable higher-precision studies than many previous collider detectors. (Dmitry Romanov/Thomas Jefferson National Accelerator Facility).</i>

  
      <div class="row">
	
        <!-- div class="col-md-5"><img src="{{ site.splash_public | relative_url }}" style="width:100%;height:auto"/></div -->
        <!-- div class="col-md-5">      </div -->


        <!-- div class="col-md-5">
          <p class="lead">

	  </p>
	</div -->
  
  <!-- class md5 -->
      </div> <!-- class row -->


      {{ site.hr }}

      <table width="80%"><tr>
        <td><div style="text-align:left;">
            &copy;2025 ePIC Collaboration
        </div></td>
        
        <td><div style="text-align:right;">
          <em>Site built at {{ site.time }}</em>
        </div></td>
            </tr></table>

    </center> <!-- class sm12 blog main -->

    {% if site.display_news %}
    {% include news/homenews.md %}
    {% endif %}




  </div> <!-- class row -->
